extends layout

block content
  tr
    td(style='padding:36px 30px 42px 30px; background-color: white;')
      table(role='presentation' style='width:100%;border-collapse:collapse;border:0;border-spacing:0;')
     
        tr
          td(style='color:black;')
            p(style='font-size:18x;margin:0 0 12px 0;font-family:Arial,sans-serif;text-align: center;') Confirm Email by sending back the otp - 
        tr
          td(style='color:black;')
            h4(style='font-size:18px;margin:0 0 20px 0;font-family:Arial,sans-serif;text-align: center;') #{otpEmail}